// COLORS
$color-primary: #67dfd4;
$color-primary-light: #6be7dd;
$color-primary-dark: #52b4ac;

$color-border: #d3d3d3;
$color-text: #555;

$color-white: #fff;
$color-black: #000;

// FONTS
$font-primary: Roboto, sans-serif;