/////////////////////////
// IMPORTS

@import 'base/variables',
        'base/base',
        'loader';

/////////////////////////
// APP

// CONTAINER
.container 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90rem;
    height: 50rem;
    margin: auto;
    padding: 4rem;

    background-color: $color-white;
    border-radius: 4px;
    box-shadow: -5px 5px 25px rgba($color-black, .3);

    @media only screen and (max-width: 25em)
    {
        padding: 2.4rem;
    }

    @media only screen and (max-width: 35em)
    {
        min-height: 50rem;
        height: auto;
    }

    @media only screen and (max-width: 62.5em)
    {
        width: 90%;
    }
}

// SEARCH FORM
.search 
{
    display: block;
    text-align: center;

    *
    {
        font-family: $font-primary;
        font-weight: 300;
        font-size: 1.6rem;
        outline: none;
        vertical-align: top;
        color: $color-text;

        height: 5rem;
        padding: calc(1.7rem - 2px) 1.5rem;
        border: 1px solid $color-border;

        @media only screen and (max-width: 35em) 
        {
            font-size: 1.2rem;
            height: 4rem;
            padding: calc(1.2rem - 2px) .6rem;
        }

        &:not(:last-child)
        {
            border-right: none;
        }

        &:first-child
        {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child
        {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    &__submit 
    {
        background-color: $color-primary;
        border-color: $color-primary;
        color: $color-white;
        cursor: pointer;
        transition: all 200ms;

        &:hover, &:active, &:focus 
        {
            background-color: $color-primary-light;
        }
    }
}

// HORIZONTAL LINE
.line 
{
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-border;
    margin: 4rem auto .5rem auto;

    @media only screen and (max-width: 35em) 
    {
        margin: 2.5rem auto .5rem auto;
    }
}

// RESULTS LIST
.result 
{
    // Loader absolute positioning
    position: relative; 
    min-height: calc(42rem - 9.4rem);

    @media only screen and (max-width: 35em)
    {
        min-height: calc(42rem - 8.4rem);
    }

    &__info 
    {
        font-size: 1.4rem;
        span {color: $color-primary-dark}
        margin-bottom: .5rem;
    }

    &__list 
    {
        columns: 3; 
        list-style: none;

        @media only screen and (max-width: 35em)
        {
            columns: 2;
        }
    }

    &__item 
    {
        margin: 1rem;
        
        span:hover 
        {
            cursor: pointer;
            color: $color-primary-dark;
        }
    }
}